.related-products,
.outfit {
  display: flex;
  justify-content: flex-start;
  margin: 1.5vw 10% 2vw 12%;
  position: relative;
}

.related-prev,
.related-next {
  cursor: pointer;
  position: absolute;
  width: 10vw;
  top: -2%;
  height: 105%;
  color: var(--primary-accent-color);

  font-size: 1.5vw;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 5;
  user-select: none;
  -webkit-user-select: none;
}

.related-next {
  right: 2%;
  background: linear-gradient(
    90deg,
    var(--background-color-low) 10%,
    var(--background-color-medium) 25%,
    var(--background-color) 40%
  );
}

.related-prev {
  left: -2%;
  background: linear-gradient(
    270deg,
    var(--background-color-low) 10%,
    var(--background-color-medium) 25%,
    var(--background-color) 40%
  );
}

.outfit-prev {
  left: 23%;
}

.related-next:hover {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 10%,
    var(--background-color) 60%
  );
}

.related-prev:hover {
  background: linear-gradient(
    270deg,
    rgba(255, 255, 255, 0) 10%,
    var(--background-color) 60%
  );
}
.card-icon {
  position: absolute;
  right: 4%;
  top: 2%;
  font-size: 150%;
  color: var(--primary-accent-color);
  padding: 2%;
  border-radius: 10%;
}

.card-icon:hover {
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
}

.fa-times-circle {
  color: rgb(160, 50, 50);
}

.product-card,
.add-card {
  /* Add shadows to create the "card" effect */
  cursor: pointer;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;

  margin-right: 2%;

  min-height: 25.5vw;
  max-height: 25.5vw;
  min-width: 16.5vw;
  max-width: 16.5vw;

  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.product-card p {
  margin: 0;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.product-card:hover,
.add-card:hover {
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-image,
.add-card-image {
  object-fit: cover;
  flex-grow: 3;
  min-height: 16.5vw;
  max-height: 16.5vw;
  width: 105%;
}

.card-container {
  padding: 8px 16px;
  flex-grow: 1;
  text-align: center;
}

.card-next-arrow,
.card-prev-arrow {
  cursor: pointer;
  position: absolute;
  top: 56%;
  width: auto;
  padding: 0.3vw;
  color: var(--title-color);
  font-size: 1.2vw;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.card-next-arrow {
  right: 1%;
}

.related-thumbnails-row {
  position: absolute;
  top: 55%;
  left: 13.5%;
  display: flex;
  transition: opacity 0.3s linear;
}

.related-thumbnail {
  cursor: pointer;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
  opacity: 0.4;
  min-width: 2vw;
  max-width: 2vw;
  min-height: 2vw;
  max-height: 2vw;
  object-fit: cover;
  border: 0.08vw solid var(--color);
}

.related-thumbnail:hover {
  opacity: 1;
}

.active-related-thumbnail {
  opacity: 1;
}
