@import url('https://fonts.googleapis.com/css?family=Squada+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Patua+One&display=swap');

[theme='dark'] {
  --color: #ededed;
  --background-color: rgb(37, 37, 37);
  --translucent-background-color: rgba(80, 80, 80, 0.6);
  --primary-accent-color: #949494;
  --secondary-background-color: rgba(65, 65, 65, 0.7);
  --error: #ff0000;
  --highlighted: #8a6a30;
  --link-color: #6fa5a5;
  --title-color: #ffffff;
  --title-background: #27544e;
}

[theme='dark'] {
  --color: #ededed;
  --background-color: rgb(37, 37, 37);
  --translucent-background-color: rgba(80, 80, 80, 0.6);
  --primary-accent-color: #949494;
  --secondary-background-color: rgba(65, 65, 65, 0.7);
  --error: #ff0000;
  --highlighted: #8a6a30;
  --link-color: #6fa5a5;
  --title-color: #ffffff;
  --title-background: #27544e;
}

html {
  scroll-behavior: smooth;
  color: #525252;
}

body {
  margin: 1% 8% 0px 8%;
  font-family: 'Patua One', cursive;
}

.nav-bar {
  display: inline;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-left: 1.5%;
  overflow: hidden;
  background-color: #4d975e;
  position: relative;
}

li {
  float: left;
  height: 100%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.logo {
  font-family: 'Patua One', 'cursive';
  display: block;
  height: 100%;
  color: white;
  text-align: center;
  padding: 3vh 0.5vw;
  text-decoration: none;
  font-size: 400%;
}

.announcement {
  text-align: center;
  margin: 1% 0 1% 0;
  font-size: 1vw;
}

.announcement a {
  color: #525252;
  text-decoration: underline;
}
.overview {
  display: flex;
  flex-direction: column;
}

.overview-top {
  display: flex;
  position: relative;
}

.image-gallery {
  background-repeat: no-repeat;
  background-color: #525252;
  background-position: center center;
  display: flex;
  margin: 0px;

  min-height: 100%;
  max-height: 100%;
  z-index: 3;
  overflow: hidden;
}

/* .zoom:hover {
  transform: scale(2.5);
} */

.fa-expand {
  position: absolute;
  right: 3%;
  top: 5%;
  font-size: 1.5vw;
  color: white;
  cursor: pointer;
}

.fa-expand:hover {
  color: black;
}

.carousel-prev,
.carousel-next {
  cursor: pointer;
  position: absolute;
  top: 47%;
  width: auto;
  padding: 0.5vw;
  color: white;
  font-size: 1.5vw;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.carousel-next {
  right: 1vw;
  border-radius: 3px 0 0 3px;
}

.carousel-prev {
  border-radius: 3px 0 0 3px;
  left: 7vw;
}

.carousel-prev:hover,
.carousel-next:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.thumbnail-column::before {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.thumbnail-column {
  margin-left: 1.2vw;
  position: relative;
}

.thumbnail-container {
  float: center;
  margin: 0.5vw;
}

.up,
.down {
  cursor: pointer;
  padding: 0.2vw;
  color: white;
  font-size: 1vw;
  border-radius: 0 3px 3px 0;
  text-align: center;
}

.up {
  margin-top: 0.3vw;
}

.down {
  margin-bottom: 0.3vw;
}

.thumbnail-preview {
  cursor: pointer;
  border: 0.08vw solid black;
  max-width: 3.5vw;
  min-width: 3.5vw;
  max-height: 3.5vw;
  min-height: 3.5vw;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  object-fit: cover;
  opacity: 0.5;
}

.active-img,
.thumbnail-preview:hover {
  opacity: 1;
}

.right-hand-overview {
  display: flex;
  width: 35%;
  min-height: 100%;
  max-height: 100%;
  flex-direction: column;
  justify-content: space-between;
  margin: 1.5%;
}
.right-hand-overview > div {
  margin: 2.5%;
}

.star-container {
  position: relative;
}

.reviews-link {
  display: inline-block;
  position: absolute;
  padding-left: 6%;
}

.stars {
  --percent: calc(((var(--rating) / 5) - 0.01) * 100%);

  display: inline-block;
  font-size: 2vw;
  font-family: Times;
}

.stars:before {
  content: '★★★★★';
  /* letter-spacing: 0.1px; */
  background: linear-gradient(
    90deg,
    #dacd17 var(--percent),
    rgb(226, 226, 226) var(--percent)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.product-info a {
  color: #525252;
}

.product-category {
  font-size: 140%;
  margin-top: 2%;
}

.product-title {
  font-weight: bolder;
  font-size: 300%;
}

.product-price {
  font-size: 140%;
  margin-top: 4%;
}

.prices {
  display: flex;
}

.original-price {
  text-decoration: line-through;
}

.sale-price {
  margin-right: 10px;
  color: red;
}

.style-label {
  margin: 0 0 10px 0;
  font-size: 140%;
}

.style-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.style-container {
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  min-width: 25vw;
  max-width: 25vw;
}

.style-item {
  position: relative;
  flex: 0 0 20%;
  margin: 0.5vw;
  margin-bottom: 0.25vw;
  width: 4.5vw;
  height: 4.5vw;
}

.fa-check-circle {
  color: black;
  background: white;
  position: absolute;
  float: right;
  right: 6%;
  top: 0;
  border-radius: 50%;
  font-size: 130%;
}

.style-selector-thumbnail-img {
  border-radius: 50%;
  border: 0.08vw solid black;
  width: 4.5vw;
  height: 4.5vw;
  cursor: pointer;
  object-fit: cover;
}

.style-tooltip {
  display: none;
  background-color: #525252;
  color: #fff;
  text-align: center;
  border-radius: 5%;
  padding: 5px;
  z-index: 2;
  position: absolute;

  opacity: 0;
}

.style-selector-thumbnail-img:hover + .style-tooltip {
  display: block;
  opacity: 1;
}

.cart-options {
  display: flex;
}

.size-selector {
  cursor: pointer;
  flex-grow: 3;
  margin-right: 1vw;
  height: 6.5vh;
  padding: 1vw;
  font-size: 1vw;
  font-weight: bold;
  color: black;
  /* border: 1px solid #525252; */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
}

.quantity-selector {
  cursor: pointer;
  text-align: center;
  flex-grow: 2;
  height: 6.5vh;
  padding: 1vw;
  font-size: 1vw;
  color: black;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
}

.cart-buttons {
  display: flex;
}

.cart-buttons > button {
  cursor: pointer;
  background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  border: 0.01vw solid #525252;
}

/* .cart-buttons > button:hover {
  background-color: rgb(236, 234, 234);
} */

.add-to-bag {
  flex-grow: 5;
  margin-right: 1vw;
  height: 6.5vh;
  padding: 1vw;
  font-size: 1vw;
  font-weight: bold;
  color: black;
}

.add-text {
  float: left;
}

.plus-sign {
  float: right;
  font-size: 120%;
}
.add-to-favorites {
  flex-grow: 2;
  height: 6.5vh;
  max-width: 4vw;
  font-size: 2vw;
  color: black;
}

.social-media {
  display: flex;
  justify-content: center;
}

.social-media > a {
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  font-size: 2vw;
  width: 3vw;
  height: 3vw;
  margin: 1%;
}

.fab:hover {
  opacity: 0.7;
}

.fa-facebook {
  padding: 2%;
  padding-top: 2.3%;

  background: #3b5998;
  color: white;
}

.fa-twitter {
  padding: 2%;
  padding-top: 2.3%;
  background: #55acee;
  color: white;
}

.fa-pinterest {
  padding: 2%;
  padding-top: 2.3%;
  cursor: pointer;
  background: #cb2027;
  color: white;
}

.product-description {
  margin-top: 4%;
  margin-bottom: 4%;
  color: #525252;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 6%;
  padding-right: 10%;
}

.product-description-left {
  justify-content: center;
  position: relative;
  font-size: 120%;
  width: 70%;
  height: auto;
  border-right: 0.1vw solid #525252;
  padding-right: 1%;
}

.product-features {
  position: absolute;
  font-size: 120%;
  left: 66%;
  height: auto;
}

.slogan {
  margin-bottom: 3%;
  font-size: 200%;
  font-weight: bolder;
}

#app {
  padding: 0;
}
